
<div class="flex items-center justify-center h-screen">
  <div class="p-8 rounded-lg max-w-4xl w-full">
    <div class="">
      <div class="bg-white p-6 rounded-2xl shadow-xl">
        <div class="h-full flex flex-col justify-center items-center">
          <h2 class="text-2xl font-bold mb-4 text-center text-[#1c398e]">Iniciar Sesión</h2>
          <form [formGroup]="formLogin" (ngSubmit)="onSubmitForm()">
            <div class="flex flex-col gap-5 ">
              <div>
                <p-floatlabel variant="on">
                  <input class="w-full" pInputText id="form_email" type="email" formControlName="email" autocomplete="off" />
                  <label for="form_email">Correo Electronico</label>
                </p-floatlabel>
              </div>
              <div>
                <p-floatlabel variant="on">
                  <p-password class="w-full" id="form_password" [feedback]="false" formControlName="password" [toggleMask]="true" />
                  <label for="form_password">Contraseña</label>
                </p-floatlabel>
              </div>
            </div>
            <div class="flex justify-center items-center mt-5">
              <p-button type="submit" [disabled]="this.formLogin.invalid" [loading]="this.loading" label="Iniciar session"></p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
